@model IEnumerable<SachOnline.Models.GioHang>

<a href="@Url.Action("GioHang","GioHang")"
   style="color:white; font-weight:bold; text-decoration:none;">
    <img src="~/Images/OIP.png" style="width:35px; height:35px;" />
    Giỏ Hàng (@ViewBag.TongSoLuong1)
</a>

